
{{ "/assets/js/modernizr.js" | asset_url | script_tag }}
{{ "/assets/js/foundation.js" | asset_url | script_tag }}
{{ "/assets/js/foundation/foundation.reveal.js" | asset_url | script_tag }}
{{ "/assets/js/main.js" | asset_url | script_tag }}
{{ "/assets/js/foundation/foundation.topbar.js" | asset_url | script_tag }}
{{ "/assets/js/foundation/foundation.tooltip.js" | asset_url | script_tag }}

<!-- rem to px script for IE8 -->
<!--{{ "/assets/js/rem.min.js" | asset_url | script_tag }}-->

<script>
  $(document).foundation();
  $("#quick-quote input[type=submit]").after("<span class='submit-arw'></span>");
</script>

